<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <script type="text/javascript" src="https://www.creativebloq.com/web-design/best-404-pages-812505s" charset="utf-8"></script>
  </head>
  <body></body>
</html>
